.env
__pycache__
.claude
skills/security-review.md
skills/frontend-design.md
skills/tailwind-master-styles.md
skills/landing-vue-pro.md
skills/svg-icons.md
skills/vue3-structure.md
skills/nodejs-backend-structure.md
**/.DS_Store
release.md